## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [7]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [8]:
theme.head(50)

     id                      name  is_licensed
0     1                   Technic        False
1    22                   Creator        False
2    50                      Town        False
3   112                    Racers        False
4   126                     Space        False
5   147                   Pirates        False
6   155         Modular Buildings        False
7   158                 Star Wars         True
8   186                    Castle        False
9   204             Designer Sets        False
10  206                  Seasonal        False
11  233                     Train        False
12  246              Harry Potter         True
13  252              Architecture        False
14  254               Bulk Bricks        False
15  258                Mindstorms        False
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True
19  270                    Ben 10         True
20  271          Prince of Persia         True
21  272     SpongeBob SquarePants         True
22  273                   Studios        False
23  275                 Toy Story         True
24  276                Sculptures        False
25  278                Model Team        False
26  279                 4 Juniors        False
27  296               Adventurers        False
28  301                     Other        False
29  302                    Agents        False
30  304                Alpha Team        False
31  307                  Aquazone        False
32  315                  Atlantis        False
33  317                    Avatar         True
34  318                  Belville        False
35  324                  Bionicle        False
36  363                      Boat        False
37  364  Building Set with People        False
38  365                   Classic        False
39  384                 Dino 2010        False
40  385               Dino Attack        False
41  386                 Dinosaurs        False
42  387                 Discovery        False
43  388     Disney's Mickey Mouse         True
44  389                 Exo-Force        False
45  390                  Fabuland        False
46  397                   Factory        False
47  398         FIRST LEGO League        False
48  399                 Freestyle        False
49  400              Hero Factory        False

In [4]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [14]:
merged = df.merge(theme, left_on='parent_theme', right_on='name')
merged = merged.drop(columns='name_y')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [29]:
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna()
licensed.head()

star_wars = licensed[licensed['parent_theme'] == 'Star Wars']

the_force = int(star_wars.shape[0]/licensed.shape[0]*100)

print(the_force)

star_wars.head(50)

50

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
3498,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,True
3502,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,True
3505,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,True
3506,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,True
3507,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,True
3514,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,True
3516,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,True
3519,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,True
3523,20016-1,Imperial Shuttle - Mini,2010,70.0,Star Wars Episode 4/5/6,Star Wars,158,True
3526,20021-1,Bounty Hunter Gunship - Mini,2011,81.0,Star Wars Clone Wars,Star Wars,158,True
3531,30005-1,Imperial Speeder Bike,2009,33.0,Star Wars Episode 4/5/6,Star Wars,158,True
3532,30006-1,Clone Walker,2009,31.0,Star Wars Clone Wars,Star Wars,158,True
3533,30050-1,Republic Attack Shuttle - Mini,2010,54.0,Star Wars Clone Wars,Star Wars,158,True
3536,30053-1,Republic Attack Cruiser - Mini,2011,41.0,Star Wars Episode 3,Star Wars,158,True
3537,30054-1,AT-ST - Mini,2011,46.0,Star Wars Episode 4/5/6,Star Wars,158,True
3538,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,True
3541,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,True
3542,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,True
3543,30240-1,Z-95 Headhunter,2013,54.0,Star Wars Clone Wars,Star Wars,158,True
3546,30243-1,Umbaran MHC,2013,49.0,Star Wars Clone Wars,Star Wars,158,True
3548,30246-1,Imperial Shuttle,2014,57.0,Star Wars,Star Wars,158,True
3549,30247-1,ARC-170 Starfighter,2014,54.0,Star Wars,Star Wars,158,True
3552,30275-1,TIE Advanced Prototype,2015,47.0,Mini,Star Wars,158,True
3555,30278-1,Poe's X-wing Fighter,2015,64.0,Mini,Star Wars,158,True
3557,30496-1,U-Wing Fighter,2017,55.0,Star Wars Rogue One,Star Wars,158,True
3558,30497-1,First Order Heavy Assault Walker - Mini,2017,54.0,Mini,Star Wars,158,True
3559,30602-1,First Order Stormtrooper,2016,7.0,Star Wars,Star Wars,158,True
3561,30611-1,R2-D2,2017,70.0,Star Wars,Star Wars,158,True
3562,3219-1,TIE Fighter - Mini,2003,12.0,Mini,Star Wars,158,True
3563,3340-1,Star Wars #1 - Sith Minifig Pack,2000,30.0,Star Wars Episode 1,Star Wars,158,True
3564,3341-1,Star Wars #2 - Luke/Han/Boba Minifig Pack,2000,25.0,Star Wars Episode 4/5/6,Star Wars,158,True
3565,3342-1,Star Wars #3 - Troopers/Chewie Minifig Pack,2000,25.0,Star Wars Episode 4/5/6,Star Wars,158,True
3566,3343-1,Star Wars #4 - Battle Droid Minifig Pack,2000,33.0,Star Wars Episode 1,Star Wars,158,True
3567,4151270-1,Star Wars Co-Pack of 7121 and 7111,2000,2.0,Star Wars Episode 1,Star Wars,158,True
3568,4195641-1,Star Wars Co-Pack of 7142 and 7152,2002,2.0,Star Wars Episode 4/5/6,Star Wars,158,True
3569,4207901-1,Star Wars MINI Bonus Pack,2003,4.0,Mini,Star Wars,158,True
3570,445062-1,Star Wars Co-Pack of 4500 and 4504,2004,2.0,Star Wars Episode 4/5/6,Star Wars,158,True
3573,4477-1,T-16 Skyhopper,2003,98.0,Star Wars Episode 4/5/6,Star Wars,158,True
3575,4478-2,Geonosian Fighter Blue Box,2004,153.0,Star Wars Episode 2,Star Wars,158,True
3578,4481-1,Hailfire Droid,2003,680.0,Star Wars,Star Wars,158,True
3579,4482-1,AT-TE,2003,650.0,Star Wars Episode 2,Star Wars,158,True
3586,4488-1,Millennium Falcon - Mini,2003,87.0,Mini,Star Wars,158,True
3588,4490-1,Republic Gunship - Mini,2003,102.0,Mini,Star Wars,158,True
3589,4491-1,Trade Federation MTT - Mini,2003,99.0,Mini,Star Wars,158,True
3590,4492-1,Imperial Star Destroyer - Mini,2004,87.0,Mini,Star Wars,158,True
3592,4494-1,Imperial Shuttle - Mini,2004,82.0,Mini,Star Wars,158,True
3593,4495-1,AT-TE - Mini,2004,63.0,Mini,Star Wars,158,True

In [19]:
star_wars.shape[0]

609

In [22]:
the_force = int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

45

In [25]:
merged[merged['set_num'].isnull()]

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
5827,NaN,NaN,2017,304.0,NaN,Super Heroes,482,True
5828,NaN,NaN,2017,196.0,NaN,Super Heroes,482,True
5829,NaN,NaN,2014,NaN,NaN,Super Heroes,482,True
5830,NaN,NaN,2013,16.0,NaN,Super Heroes,482,True
5831,NaN,NaN,2013,NaN,NaN,Super Heroes,482,True
...,...,...,...,...,...,...,...,...
10274,NaN,NaN,2015,518.0,NaN,Minecraft,577,True
10275,NaN,NaN,2016,NaN,NaN,Minecraft,577,True
10276,NaN,NaN,2017,502.0,NaN,Minecraft,577,True
10277,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
10278,NaN,NaN,2017,NaN,NaN,Minecraft,577,True

In [36]:
licensed_sorted = licensed.sort_values('year')
licensed['count'] = 1

licensed_sorted.groupby(['year', 'parent_theme']).head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3686,7131-1,Anakin's Podracer,1999,136.0,Star Wars Episode 1,Star Wars,158,True
3690,7140-1,X-wing Fighter,1999,271.0,Star Wars Episode 4/5/6,Star Wars,158,True
3691,7141-1,Naboo Fighter,1999,179.0,Star Wars Episode 1,Star Wars,158,True
3697,7151-1,Sith Infiltrator,1999,244.0,Star Wars Episode 1,Star Wars,158,True
3702,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True
...,...,...,...,...,...,...,...,...
5698,71017-4,Clan of the Cave Batman,2017,7.0,Batman,Super Heroes,482,True
5699,71017-5,Vacation Batman,2017,8.0,Batman,Super Heroes,482,True
5702,71017-8,The Joker Arkham Asylum,2017,6.0,Batman,Super Heroes,482,True
5687,71017-12,The Eraser,2017,6.0,Batman,Super Heroes,482,True
5614,30546-1,Krypto Saves the Day,2017,55.0,Super Heroes,Super Heroes,482,True

In [48]:
licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1
licensed_sorted.head()

summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()

max_df = summed_df.sort_values('count', ascending=False).drop_duplicates(['year'])

max_df.sort_values('year', inplace=True)

max_df

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7131-17140-17141-17151-17161-17121-17128-1,Anakin's PodracerX-wing FighterNaboo FighterSi...,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,1106,7,7
2,2000,Star Wars,swminifigs-17134-17155-17180-17115-17191-18001...,Star Wars Minifig Packs 4-PackA-wing FighterTr...,2580.0,Star Wars OtherStar Wars Episode 4/5/6Star War...,2528,16,16
4,2001,Star Wars,7106-165034-110018-17166-17186-18007-165030-16...,Droid EscapeStar Wars Co-Pack of 7121 and 7161...,2949.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,1422,9,9
6,2002,Star Wars,4195641-165106-165145-17201-17200-17152-17143-...,Star Wars Co-Pack of 7142 and 7152Episode II C...,4735.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,2528,16,16
8,2003,Star Wars,4502-1K4488-1K4487-14491-14490-14504-14504-244...,"X-wing Fighter (Dagobah), Blue boxStar Wars Mi...",6660.0,Star Wars Episode 4/5/6MiniMiniMiniMiniStar Wa...,2528,16,16
11,2004,Star Wars,4478-27262-16965-14492-14494-14495-14501-24502...,Geonosian Fighter Blue BoxTIE Fighter and Y-wi...,1659.0,Star Wars Episode 2Star Wars Episode 4/5/6Mini...,1738,11,11
15,2005,Star Wars,7257-17258-17259-17260-17263-17264-16967-17256...,Ultimate Lightsaber DuelWookiee AttackARC-170 ...,4730.0,Star Wars Episode 3Star Wars Episode 3Star War...,2844,18,18
18,2006,Star Wars,6207-16211-16209-16206-16208-1,A-wing FighterImperial Star DestroyerSlave I (...,2769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,790,5,5
21,2007,Star Wars,7666-17665-17658-17662-110179-110178-17657-176...,Hoth Rebel Base [Limited Edition - with K-3PO]...,11361.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,1896,12,12
25,2008,Star Wars,7676-17680-18029-17675-17679-17674-17673-17672...,Republic Attack GunshipThe Twilight - Limited ...,6865.0,Star Wars Clone WarsStar Wars Clone WarsMiniSt...,2370,15,15
29,2009,Star Wars,8033-18019-18017-18014-17778-17751-18037-17748...,General Grievous Starfighter - MiniRepublic At...,3953.0,Star Wars Episode 3Star Wars Clone WarsStar Wa...,2844,18,18
33,2010,Star Wars,20016-18128-130050-18099-18098-18097-18095-180...,Imperial Shuttle - MiniCad Bane's SpeederRepub...,6003.0,Star Wars Episode 4/5/6Star Wars Clone WarsSta...,3318,21,21
39,2011,Star Wars,30055-1comcon015-130054-120021-166378-166396-1...,Vulture Droid - MiniStar Wars Advent Calendar ...,3451.0,Star Wars Episode 3Star WarsStar Wars Episode ...,2370,15,15
43,2012,Star Wars,10225-19676-19675-19526-130059-19515-19499-194...,R2-D2TIE Interceptor & Death StarSebulba's Pod...,6769.0,Ultimate Collector SeriesStar Wars Episode 4/5...,3792,24,24
48,2013,Star Wars,66449-15001621-15001709-130243-130240-175019-1...,"Star Wars Super Pack 3 in 1 (75000, 75003, 750...",6159.0,Star WarsStar WarsStar Wars Clone WarsStar War...,3002,19,19
55,2014,Star Wars,75053-166479-166495-130247-175031-175054-17502...,"The GhostSuper Pack 3 in 1 (75015, 75035, 7504...",8293.0,Star Wars RebelsStar Wars OtherStar Wars Other...,3634,23,23
63,2015,Star Wars,75099-175095-175105-175100-1SW911506-1SW911508...,Rey's SpeederUCS TIE FighterMillennium Falcon...,11410.0,Star WarsStar WarsStar WarsStar WarsStar Wars ...,5372,34,34
70,2016,Star Wars,911609-1911611-175141-175142-175150-175152-175...,Naboo StarfighterAATKanan's Speeder BikeHoming...,6934.0,Star Wars Episode 1Star WarsStar Wars RebelsSt...,4266,27,27
76,2017,Super Heroes,76086-1211701-130449-130521-130523-141233-1412...,Knightcrawler Tunnel AttackBatmanThe MilanoThe...,13123.0,Super HeroesBatmanMarvelBatmanBatmanSuper Hero...,22172,46,46

In [49]:
new_era = 2017

### Break down number of sets by year

In [ ]:
clean_df = merged[~merged['set_num'].isnull()].shape
clean_df['count'] = 1
sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year', 'count']]

sets_per_year.head()

In [ ]:
for index,row in sets_per_year.iterrows():
    print(row['year'],row['count'])